.header {
	padding: 0 50px !important;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background: #031226 !important;

	z-index: 100;

	.coins {
		display: flex;
		flex-direction: row;
		height: fit-content;
		gap: 20px;
		div {
			height: fit-content;
		}

		.add {
			height: fit-content;
			display: none;

			width: 100%;
		}

		h4 {
			color: #9f9f9f;
		}
		p {
			color: #b0b0b0;
		}
	}
}

@media only screen and (max-width: 820px) {
	.header {
		.wrapper {
			margin: 0 10px;
			max-width: max-content;
			height: fit-content;
			overflow: hidden;

			width: max-content;

			.coins {
				display: flex;
				animation: text 10s infinite linear;
				width: 245%;
				gap: 0;
				& div {
					white-space: nowrap;

					width: 100%;
				}

				.add {
					display: inline;
				}
			}
		}
	}

	@keyframes text {
		0% {
			transform: translateX(0%);
		}

		100% {
			transform: translateX(-50%);
		}
	}
}

@media only screen and (max-width: 600px) {
	.header {
		flex-direction: column;
		justify-content: center;
		padding: -15px !important;
		min-height: 130px;
		gap: 10px;

		.wrapper {
			height: 50px;
			max-width: 100%;

			.coins {
				width: 300%;
				div {
					height: min-content;
				}
			}
		}
	}
}
